.ani.x_Left{
    opacity: 0;
    transform: translateX(-4rem);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
.ani.x_Left.moving{
    opacity: 1;
    transform: translateX(0);
}
.ani.x_Right{
    opacity: 0;
    transform: translateX(4rem);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
.ani.x_Right.moving{
    opacity: 1;
    transform: translateX(0);
}
.ani.y_Bottom{
    opacity: 0;
    transform: translateY(4rem);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
.ani.y_Bottom.moving{
    opacity: 1;
    transform: translateY(0);
}
.ani.scaleImg img{
    opacity: 0;
    transform: scale(1.2);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    display: block;
}
.ani.scaleImg.moving img{
    opacity: 1;
    transform: scale(1);
}
.ani.cover:after {
    position: absolute;
    content:"";
    display: block;
    width: 100%;
    height: 101%;
    background-color: #fff;
    left: 0;
    bottom: -1px;
    transition: all 1s ease-in-out;
}
.ani.cover.moving:after {
    height: 0;
}
.ani.delay01 {
    transition-delay: .2s;
}
.ani.delay02 {
    transition-delay: .4s;
}
.ani.delay03 {
    transition-delay: .6s;
}
@keyframes scroll {
    0%{ bottom: 2rem;}
    50%{ bottom: 4rem;}
    100%{ bottom: 2rem;}
}