@import url(common.css);
@import url(reset.css);
@import url(layout.css);
@import url(ani.css);
@import url(media.css);

.banner_wrap {
    overflow: hidden;
    /* width: 150rem; */
    position: absolute;
    width: 100%;
    height: 8rem;
    bottom: 2rem;
}
.banner_wrap ul {
    display: flex;
}
.banner_wrap li{
    width: 15rem;
    margin-right: 1rem;
    text-align: center;
}
.banner_wrap li a{
    display: block;
    padding: 3rem 0;
    font-size: 2rem;
    /* background-color: bisque; */
}
.js-marquee-wrapper .js-marquee:nth-child(2){
    margin-left: -50px !important;
}